.env
.idea
.php_cs.cache
.vagrant
Homestead.json
Homestead.yaml
/.phpunit.cache
/node_modules
npm-debug.log
public/storage
/public/build
/public/hot
public/mix-manifest.json
storage/*.key
vendor
yarn-error.log
_ide_helper.php
public/hot
*~
*.swp
*.swo
.phpunit.result.cache
