.env
.idea
.php_cs.cache
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/storage
public/mix-manifest.json
storage/*.key
vendor
yarn-error.log
_ide_helper.php
*~
*.swp
*.swo
.phpunit.result.cache
