@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Whitney SSm A,Whitney SSm B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

p code {
    @apply bg-indigo-50 text-indigo-500 rounded-lg px-1 border border-indigo-100 whitespace-nowrap;
}

pre code {
    @apply border-0 p-0;
}

h1 {
    @apply font-medium text-2xl leading-loose;
}


h3, h2 {
    @apply font-medium text-xl leading-loose;
}

h4, h5, h6 {
    @apply font-medium text-lg leading-loose;
}

.article-content blockquote {
    @apply p-4 italic border-l-4 border-gray-400 text-gray-600;
}

.article-content a {
    @apply text-blue-400;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply my-4 rounded overflow-x-auto;
    background-color: #fff;
    --theme-selection-background: #e2e5e9;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}
