$purple-dark4: #4a148c;
$purple-lighten4: #e1bee7;
$green-light4: #e8f5e9;
$blue-lighten4: #bbdefb;
$orange-lighten4: #ffe0b2;
$grey: #777;
$pink-lighten4: #f8bbd0;
$pink-darken4: #880e4f;
$red-lighten4: #ffcdd2;

  // Navbar
$navbar-default-bg: $green-light4;

// Panels
$panel-default-heading-bg: $green-light4;