$purple-dark4: #4a148c;
$purple-light4: #e1bee7;
$green-light4: #e8f5e9;
$green-light3: #a5d6a7;
$blue-light4: #bbdefb;
$orange-light4: #ffe0b2;
$grey: #777;
$pink-light4: #f8bbd0;
$pink-dark4: #880e4f;
$red-light4: #ffcdd2;


//Navbar
$navbar-default-bg: $green-light4;

// Panels
$panel-default-heading-bg: $green-light4;