//Colors
$purple-dark4: #4a148c;
$purple-light4: #e1bee7;
$green-light4: #e8f5e9;
$green-light3: #a5d6a7;
$green-dark1: #43a047;
$blue-light4: #bbdefb;
$orange-light4: #ffe0b2;
$grey: #777;
$grey-dark7: #333;
$red-dark1: #e53935;
$yellow-dark3: #f9a825;
$pink-light4: #f8bbd0;
$pink-dark4: #880e4f;
$red-light4: #ffcdd2;

//Font sizes
$font-sm: 0.7em;
$font-normal:1em;
$font-md: 1.3em;
$font-lg: 2em;
$font-xlg: 3.5em;
$font-xxlg: 5em;

$text-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

//Navbar
$navbar-default-bg: $green-light4;

// Panels
$panel-default-heading-bg: $green-light4;

$footer-height: 10vh;