@tailwind base;

@tailwind components;

@tailwind utilities;

code{
    @apply bg-red-100 text-red-800 rounded-lg px-1 border border-red-200 whitespace-no-wrap
}

pre code{
    @apply border-0 p-0
}
h1{
    @apply font-semibold text-2xl
}


h3, h2{
    @apply font-semibold text-xl
}

h4, h5, h6{
    @apply font-semibold text-lg
}
