body, li{
  color: $purple-dark4;
}

textarea{
  resize: vertical;
}

.text-grey{
  color: $grey;
}

a:hover{
  text-decoration: none;
}

.navbar-brand {
  color: $purple-dark4 !important;
}

.main-container {
  min-height: 560px;
  padding-top: 50px;
}

footer{
  height: 55px;
  background: $green-light4;
  padding-top: 20px;
  font-size: 15px;
}

.sidebar{
  width: 17%;
  ul{
    margin: 0px -15px;
  };
  li{
    width: 100%;
  };
}