body {
  font-family: $text-font;
}

body, li {
  color: $grey-dark7;
}

th {
  text-align: center;
}

textarea {
  resize: vertical;
}

.pointer {
  cursor: pointer;
}

pre {
  font-size: .9em;
}

.text-grey {
  color: $grey;
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  color: $purple-dark4 !important;
}

.main-container {
  min-height: 90vh;
  //padding-top: 50px;
}

footer {
  height: $footer-height;
  background: $green-light4;
  padding-top: 20px;
  font-size: 15px;
}

.sidebar-container {
  background: $green-light4;
  min-height: inherit;

  .sidebar {
    width: 100%;

    ul {
      margin: 0px -15px;
    }
  ;

    li {
      width: 100%;
    }
  ;
  }
}

//borders
.border-bottom {
  border-bottom: 1px solid $green-light3;
}

.border-top {
  border-top: 1px solid $green-light3;
}

.border-left {
  border-left: 1px solid $green-light3;
}

.border-right {
  border-right: 1px solid $green-light3;
}

.border-all {
  border: 1px solid $green-light3;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid $green-light3;
}

//margins
.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-left-30 {
  margin-left: 30px;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

//Padding
.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.hide {
  display: none;
}

.d-inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}

//Font sizes
.text-sm {
  font-size: $font-sm;
}

.text-normal {
  font-size: $font-normal;
}

.text-md {
  font-size: $font-md;
}

.text-lg {
  font-size: $font-lg;
}

.text-xlg {
  font-size: $font-xlg;
}

.text-xxlg {
  font-size: $font-xxlg;
}

//alert
.alert {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  color: white;
  z-index: 99999;
}

.alert-success {
  background: $green-dark1;
}

.alert-danger {
  background: $red-dark1;
}

.alert-warning {
  background: $yellow-dark3;
}
