.article-list{
  margin:0;
  padding:5px;
  border-bottom: 1px dotted $grey;
  .heading{
    display: inline;
  }
  
  .time{
    color: $grey;
  }
}
.article-list:hover{
  background: $red-lighten4;
  font-weight:bold;
 }