.article-list{
  margin:0;
  padding:10px;
  border-bottom: 1px dotted $grey;
  .heading{
    display: inline;
    color: black;
  }
}

.time{
  color: $grey;
}

.article-heading{
  font-weight:bold;
}
.article-list:hover{
  background: $red-light4;
 }

.navbar{
  background: $green-light4;
}

#site-heading{
  margin-top: 10px;
  margin-bottom: 0;
}

.lang-filter{
  position: fixed;
  float: left;
  top: 50px;
  left: 15px;
}
