.article-list{
  margin:0;
  padding:10px;
  border-bottom: 1px dotted $grey;
  .heading{
    display: inline;
  }
}

.time{
  color: $grey;
}

.article-heading{
  font-weight:bold;
}
.article-list:hover{
  background: $red-light4;
 }

#site-heading{
  margin-top: 10px;
  margin-bottom: 0;
}