[mysqld]
default_authentication_plugin=mysql_native_password
max_connections=200
innodb_buffer_pool_size=256M
innodb_log_file_size=64M
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
default-character-set=utf8mb4
